# .env.example
# Copy this file to .env.local and fill in the values

BACKEND_API=http://localhost:3000/backend
NEXT_PUBLIC_BACKEND_API=/backend
NEXT_PUBLIC_IMAGE_URL=https://api.yenigunemlak.com/public/

GSC_SITE_URL=https://www.yenigunemlak.com
GSC_CLIENT_EMAIL=
GSC_PRIVATE_KEY=

NEXT_PUBLIC_GOOGLE_MAPS_EMBED_API_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_JAVASCRIPT_API_KEY=
